  <!-- jQuery must be imported before Foundation -->
  <script src="{{ "js/jquery.min.js" | prepend: site.asset_serve_path }}"></script>
  <!-- <script src="{{ '/assets/js/foundation.min.js' | absolute_url }}"></script> -->

  <!-- this will include every plugin and utility required by Foundation -->
  
  <script src="{{ "js/foundation.min.js" | prepend: site.asset_serve_path }}"></script>

  <script src="/assets/js/trmix.min.js"></script>
  <!-- {% include scripts/lazy-load.html %} -->

  <!-- Compressed JavaScript -->

<!-- 
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js"
    integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA=="
    crossorigin="anonymous"></script> -->

  <script>
    $(document).foundation();
  </script>