<div class="title-bar" data-responsive-toggle="top-bar">
  <button class="menu-icon" type="button" data-toggle></button>
</div>

<div id="hero" class="hero topbar-sticky-shrink-header" 
               {% if page.title == "Home" %} 
                  style="background: url({{ page.hero_image | prepend: site.image_serve_path }}) center center no-repeat;
                                                                background-size: cover;" 
               {% endif %}
               >
  <div data-sticky-container>
    <header id="top-bar" class="top-bar topbar-responsive" data-sticky data-margin=0>
      <!-- Site Logo -->
      {% if page.title != "Home" %}
      <div class="top-bar-left">
        <div class="top-bar-title">
          <a class="topbar-responsive-logo" href="/">Christina George</a>
        </div>
      </div>
      {% endif %}

      <!-- Navigation -->
      <div class="top-bar-right">
        <nav>
          <ul class="menu" data-smooth-scroll>
            {% for item in site.data.nav-main %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
  </div>


  <div class="grid-container">
    <h1 class="">Christina<br>George&nbsp;<span class="artist">artist</span></h1>
  </div>

</div>