<!-- <div class="title-bar" data-responsive-toggle="top-bar">
  <button class="menu-icon" type="button" data-toggle></button>
</div> -->

<div id="hero" class="hero topbar-sticky-shrink-header" {% if page.title == "Home" %} style="background: url({{ page.hero_image | prepend: site.image_serve_path }}) center center no-repeat;
                                                                background-size: cover;" {% endif %}>
  <div data-sticky-container>
    <header id="top-bar" class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">

      <!-- Site Logo -->
      <div class="top-bar-left">
        <div class="top-bar-title">
          <a class="topbar-responsive-logo" href="/">Christina George</a>
        </div>
      </div>


      <button class="menu-icon" type="button" data-toggle="offCanvas"></button>

    </header>

      <!-- Off-Canvas Menu -->
      <div class="off-canvas-wrapper">
        <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
          <!-- Close Button -->
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>

          <!-- <div class="top-bar-right"> -->

          <!-- Navigation -->
          <nav>
            <ul class="menu vertical" data-magellan data-animation-easing="swing" data-offset="0">
              {% for item in site.data.nav-main %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <!-- </div> -->
        </div>
      </div>

    <!-- </header> -->
  </div>


  <div class="grid-container hide-for-small-only">
    <h1 class="">Christina<br>George&nbsp;<span class="artist">artist</span></h1>
  </div>

</div>