// Custom additions to Foundation base

// Top Bar Nav
.top-bar {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  background: none;

  .menu {
    background: none
  }

  a {
    color: #0a0a0a;
  }
}

.sticky-container {
  height: 0;
}

// Hero Text

.hero {
  text-align: left;
  height: 100vh;
  background-size: cover;

  h1 {
    font-size: rem-calc(64);
    font-variant-caps: all-small-caps;
    font-feature-settings: 'smcp', 'liga', 'lnum', 'kern';
    letter-spacing: 0.065em;
    line-height: 0.65;
    position: absolute;
    right: 1em;
    bottom: 20%;
  }
}


// Styling <span class="artist"> on homepage feature
.artist {
  font-size: 0.65em;
  font-style: italic;
  letter-spacing: 0;
  font-variant-caps: normal;
  font-feature-settings: normal;
}

//  Homepage Section Layout
.section {
  min-height: 100vh;
}

.section--about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.section--portfolio {
  .figure {
    padding-bottom: rem-calc(160);
  }
}

.figcaption.small-order-1 {
  justify-content: flex-end;
}





.section--about .h1 {
  font-size: 48px;
  font-weight: 400;
}

.section--portfolio {
  figure {

    h3,
    p {
      font-family: $body-font-family;
      font-size: $global-font-size * 1.25;
      line-height: $global-lineheight;
      margin-bottom: 0;
    }
  }
}

abbr,
.small-caps {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.03em;
  cursor: text;
  text-decoration: none;
  border: none;
}

.thumbnail img {
  //  max-height: 80vh;
}