// Custom additions to Foundation base

main {
  /* CSS Gradient Tool: https://cssgradient.io */
  background: rgb(166, 156, 163);
  background: linear-gradient(0deg, rgba(166, 156, 163, 1) 0%, rgba(199, 215, 217, 0.3) 19%, rgba(199, 215, 217, 0.3) 80%, rgba(242, 224, 220, 1) 100%);
  min-height: 100vh;
}


/* Top Bar Nav */
.top-bar {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  background: none;

  .menu {
    background: none
  }

  .top-bar-right {
    justify-content: flex-end;
  }

  // a {
  //   color: #0a0a0a;
  // }
}

.sticky-container {
  // height: 0;
}

.sticky {
  // width: 100%
}

// Hero Text

.hero-container {
  text-align: left;
  height: 100vh;
  background-size: cover;

  h1 {
    font-family: garamond-premier-pro-display;
    font-size: rem-calc(64);
    font-variant-caps: all-small-caps;
    letter-spacing: 0.065em;
    line-height: 0.65;
    position: absolute;
    right: 1em;
    bottom: 20%;
  }
}


// Styling <span class="artist"> on homepage feature
.artist {
  font-size: 0.65em;
  font-style: italic;
  letter-spacing: 0;
  font-variant-caps: normal;
  font-feature-settings: normal;
}

//  Homepage Section Layout
.section {
  min-height: 100vh;
}

.section--about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.section--portfolio {
  .figure {
    padding-bottom: rem-calc(160);
  }
}

.figcaption.small-order-1 {
  justify-content: flex-end;
}

/* Footer */

.footer {
  background-color: #314043;
  

  * {
    color: $light-gray;
  }
}

.footer-nav {
  min-height: 12em;
  padding-bottom: 2em;
}



/* Typography */

* {
  word-wrap: break-word;
}

body {
  font-feature-settings: 'liga', 'kern', 'onum';
}


.about-content h1 {
  font-size: rem-calc(48);
  font-weight: 400;
}


.section--portfolio {
  .section-title {
    line-height: 1.1;
    padding-bottom: 1em;
  }

  figure {

    h3,
    p {
      // font-family: $body-font-family;
      // font-size: $global-font-size * 1.25;
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.25rem;
      color: #252525
    }
  }
}

.section-title {
  font-size: rem-calc(200);
  color: $medium-gray;
  text-transform: lowercase;
}



abbr,
.small-caps {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.03em;
  cursor: text;
  text-decoration: none;
  border: none;
}

.thumbnail img {
  //  max-height: 80vh;
}

.menu a {
  font-family: sofia-pro-soft, 'Helvetica Neue', helvetica, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 1px;

  .is-active {
    font-weight: bold;
    color: green;
    // font-style: italic;
  }
}