/* Custom additions to Alembic theme */

.typeset h1, h2, h3, h4, h5, h6 {
  color: $headingColour;
  font-family: unquote(map-get($headingtype, font-family));
  font-feature-settings:  'liga', 'lnum', 'kern';
  font-style: normal;
  font-weight: map-get($headingtype, regular);
}

.feature {
  text-align: left;
  h1 {
    font-variant-caps: all-small-caps;
    font-feature-settings: 'smcp', 'liga', 'lnum', 'kern';
    letter-spacing: 0.065em;
    line-height: 0.65;
  }
}

.typeset .artist {
  font-size: 0.65em;
  font-style: italic;
  letter-spacing: 0;
  font-variant-caps: normal;
  font-feature-settings: normal;
}
