---
layout: default
---

<div class="grid-container">
        <!-- Image -->
        <figure class="figure cell grid-x grid-margin-x">
          <div class="cell medium-8 align-self-bottom">
              <img class="image" src="{{ page.image.url | prepend: site.image_serve_path }}" alt="{{ work.title }}">
              <!-- <img src="/img/blank.png" alt="{{ work.title }}" data-echo="{{ work.image.url | prepend: site.image_serve_path }}"> -->
          </div>
          <figcaption
            class="flex-container align-justify figcaption cell medium-4 align-self-bottom align-self-right small-order-1">
            <div class="container">
              <h3>{{ work.title }}</h3>
              <p>
                {{ work.materials }}<br />
                {{ work.dimensions }}
              </p>
            </div>
          </figcaption>
        </figure>

</div>